:root {
    --primary: #fff;
}

.btn {
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 26px;
    font-size: 20px; 
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}